In [1]:
2 + 2

4

In [2]:
print("hello world")

hello world

In [3]:
book_title = "Harry Potter"

In [4]:
book_title

'Harry Potter'

In [5]:
print(book_title)

Harry Potter

In [6]:
year = 1997
print(year)

1997

In [7]:
price = 19.94

In [8]:
type(price)

float

In [9]:
type(year)

int

In [10]:
keine_Zahl = "134"

In [11]:
year + price

2016.94

In [12]:
year + keine_Zahl

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
3 > 4

False

In [14]:
9 < 12

True

In [15]:
9 == 9

True

In [16]:
5 != 7

True

In [17]:
numbers = [1, 2, 3]

In [18]:
print(numbers)

[1, 2, 3]

In [19]:
for number in numbers:
    print(number)

1
2
3

In [21]:
for hund in numbers:
    print(hund)

1
2
3

In [23]:
for zahl in numbers:
    double = zahl * 2
    print(double)
print ("Zahlen wurden multipliziert")

2
4
6
Zahlen wurden multipliziert

In [24]:
authors = ["Darwin", "Hawking", "Feynman", "Jemison"]

In [25]:
len (authors)

4

In [26]:
authors[3]

'Jemison'

In [27]:
authors[0]

'Darwin'

In [29]:
authors[-1]

'Jemison'

In [30]:
authors[len(authors)-1]

'Jemison'

In [33]:
book_title[0:5]

'Harry'

In [34]:
book_title[-1]

'r'

In [35]:
authors_and_books = {"Jemison" : "Wind", "Lindgren" : "Pippi Langstrumpf", "Darwin" : "Origin of Species", "Hawking" : "Universe in a Nutshell"}

In [37]:
authors_and_books["Jemison"]

'Wind'

In [39]:
authors_and_books["Lindgren"]

'Pippi Langstrumpf'

In [40]:
authors_and_books["Lindgren"] = "Michel aus Lönneberga"

In [41]:
authors_and_books["Lindgren"]

'Michel aus Lönneberga'

In [44]:
temp = 20

# Wetterbericht
der folgende Code erklärt das Wetter

In [54]:
# Kommentar
# temp = 10
temp = 24
if temp > 15:
    print ("es ist warm") # auch Kommentar
elif temp < 5:
    print ("es ist kalt")
else:
    print ("es ist mild")

es ist warm

In [55]:
authors_and_books

{'Jemison': 'Wind',
 'Lindgren': 'Michel aus Lönneberga',
 'Darwin': 'Origin of Species',
 'Hawking': 'Universe in a Nutshell'}

In [57]:
authors_and_books["Darwin"]

'Origin of Species'

In [58]:
author = "Darwin"

In [59]:
author.upper()

'DARWIN'

In [62]:
author.lower()

'darwin'

In [63]:
author.replace("a", "XXX")

'DXXXrwin'

In [64]:
authorX = author.replace("a", "XXX")

In [66]:
authorX

'DXXXrwin'